.no-bullets {
	float:right;
    list-style-type:none;
    margin-right:15px;
    font-size:17px;
}
.img{
	margin-left:5px;
}
.head{
	background-color:#E6E6FA;
	height:155px;
	font-family: sans-serif;
}
.email {
	background-color :#00CED1;
	border:none;
	color:white;
	padding:8px 10px;
	text-align:center;
	font-size:16px;
	cursor:pointer;
	display:inline-block;
	margin:4px 2px;	
}

.project{
	background-color:grey;
	border:none;
	color:white;
	padding:10px 10px;
	text-align:center;
	font-size:14px;
	cursor:pointer;
	display:inline-block;
	margin-left: 160px;
	text-align:center;
}
.text-center{
	text-align:center;
}
.center{
	font-size:25px;
	text-align:center;
	padding:20px;
}
.column{
	float:left;
	width:33.33%;
	padding:5px;
}
.row{
	content:"";
	clear:both;
	display:flex;
}
.photo{
	width:400px;
	height:260px;
	opacity:1.7;
}
.background{
	background-color:grey;
	height:300px;
}
.div1 {
	width:300px;
	height:180px;
	border:1px;
	background-color:white;
	color:black;
	display:inline-block;
    display:center;
	position:absolute;
	z-index:10;
	left:40%;
	margin: 10px 0 0 -300px;
	
}
div.div2{
	width:300px;
	height:180px;
	border:1px;
	background-color:black;
	color:white;
	display:inline-block;
	float:right;
	margin:auto;
	position:absolute;
	z-index:15;
	left:55%;
	margin: 10px 0 0 70px;	
}